.animated-bg {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(270deg, #03045e, #0077b6);
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.start-btn {
  background-color: #90e0ef;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.start-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}


.nav-link {
  color: black !important;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: black !important;
  background-color: transparent;
}
